# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS .DS_Store
.DS_Store

# Virtual Environment
.venv
venv/
ENV/

# Distribution files
build/
dist/
skeltorch.egg-info/

# Pycharm Project
.idea/

# Docs Build
docs/_build

# Configuration File
config.json

# Examples: Experiments Folder
examples/*/experiments/*
!examples/*/experiments/.gitkeep

# Examples: Data Folder
examples/*/data/*
!examples/*/data/.gitkeep
