import skeltorch


class {{ project_name_camelcase }}Data(skeltorch.Data):

    def create(self, data_path):
        raise NotImplementedError

    def load_datasets(self, data_path):
        raise NotImplementedError

    def load_loaders(self, data_path, num_workers):
        raise NotImplementedError
