import torch


class {{ project_name_camelcase }}Model(torch.nn.Module):
    def __init__(self):
        super({{ project_name_camelcase }}Model, self).__init__()

    def forward(self, x):
        raise NotImplementedError
