# {{ project_name }} is your new Skeltorch project!
Welcome to Skeltorch! We are happy to see that you have used `skeltorch create`
to quickly start your project. With Skeltorch, you will save a lot of time
while focusing on the important things of a machine learning project.

Skeltorch is inspired on the MVC paradigm of software engineering, where you
separate the pieces of code into independent units:

+ `{{ project_name }}/data.py`: this file manages the data used in your
project, both in terms of initialization and subsequent loadings. You need to
define which actions should be run when creating a new experiment and the
procedure to load both the data sets and the data loaders. This would act as
the "model" part in the MVP paradigm.
+ `{{ project_name }}/model.py`: the file where the definition of your model is
stored. This would act as the "view" part in the MVP paradigm, with the
difference that we don't work with GUIs, but neural networks.
+ `{{ project_name }}/runner.py`: this files defines the steps that should be
taken to train the model using the data. This would act as the "controller"
part in the MVP paradigm.

Read the [Skeltorch Documentation](https://docs.skeltorch.com/) to discover how
to complete your first project.