import skeltorch
from .model import {{ project_name_camelcase }}Model


class {{ project_name_camelcase }}Runner(skeltorch.Runner):

    def init_model(self, device):
        self.model = {{ project_name_camelcase }}Model().to(device[0])

    def init_optimizer(self, device):
        raise NotImplementedError

    def train_step(self, it_data, device):
        raise NotImplementedError

    def test(self, epoch, device):
        raise NotImplementedError

    def test_sample(self, sample, epoch, device):
        raise NotImplementedError
